@model PhotoFrame.Web.Models.PersonalDay

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>*@


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="pfSiteContent">
        <div class="">
            <h4><strong>Add a Special Day</strong></h4>
        </div>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2 pfLabel" })
            @Html.EditorFor(model => model.Name, new { @class = "pfTextbox" })
            <div class="col-md-10">             
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstanceDate, new { @class = "control-label col-md-2 pfLabel" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstanceDate, new { id = "InstanceDate", @class = "pfTextbox" })
                @Html.ValidationMessageFor(model => model.InstanceDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2 pfLabel" })
            @Html.EditorFor(model => model.Month, new { @class = "pfTextbox" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Day, new { @class = "control-label col-md-2 pfLabel" })
            @Html.EditorFor(model => model.Day, new { @class = "pfTextbox" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Day)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginalYear, new { @class = "control-label col-md-2 pfLabel" })
            @Html.EditorFor(model => model.OriginalYear, new {@class="pfTextbox" })
            <div class="col-md-10">                
                @Html.ValidationMessageFor(model => model.OriginalYear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="pfButton mediumButton" />
            </div>
        </div>
    </div>
}

<div class="pfButton largeButton inverted">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(function () {
        $('#InstanceDate').datetimepicker({
            defaultDate: DateTime.Now(),
            format: 'L',
            showClose: true,
            showClear: true,
            toolbarPlacement: 'top'
        });
    });
    </script>
}
