@model PhotoFrame.Web.Models.PersonalDay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PersonalDay</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalYear)
        </dd>

    </dl>
</div>
@*<p>*@
<div class="pfButton mediumButton">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
<div class="pfButton mediumButton inverted">
    @Html.ActionLink("Back to List", "Index")
    </div>
    @*</p>*@
