@model PhotoFrame.Web.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="containerCentered">
        <h4>Create Local Login</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label pfLabel" })
            <div class="">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control pfLoginTextbox" })
            </div>
        </div>
        <div class="">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label pfLabel" })
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control pfLoginTextbox" })
            </div>
        </div>
        <div class="">
            <div class="containerCentered pfButton largeButton inverted">
                <input type="submit" value="Set Password" class="" />
            </div>
        </div>
    </div>
}
