@model PhotoFrame.Web.Models.Photo

@{
    ViewBag.Title = "Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Photo", null, FormMethod.Post, new {enctype = "multipart/form-data"})) 
{
    @Html.AntiForgeryToken()

    <div class="pfSiteContent">
        <div class="">
            <h4><strong>Manage @ViewBag.Title</strong></h4>
        </div>
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.FriendlyName, new { @class = "control-label col-md-2 pfLabel" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FriendlyName, new {@class="pfTextbox" })
                @Html.ValidationMessageFor(model => model.FriendlyName)
            </div>
        </div>
        @*<div class="form-group">*@
            @Html.Label("Upload", new { @class = "control-label col-md-2 pfLabel" })
            <div class="uploadButton">
                <input type="file" id="Upload" name="upload" class="pfButton largeButton" />
            </div>
        @*</div>*@
            <div class="">
                <input type="submit" value="Upload" class="pfButton mediumButton" />
            </div>
    </div>
}

<div class="pfButton largeButton inverted">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
