@model PhotoFrame.Web.Models.Photo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalDays)
        </dt>
        @foreach (var day in Model.PersonalDays)
        {
            {
            <dd>@day.Name</dd>}
        }
        <dt>
            @Html.DisplayNameFor(model => model.Holidays)
        </dt>
        @foreach (var day in Model.Holidays)
        {
            {<dd>@day.Name</dd>}
        }
        @*@if (Model.Bytes.Length>0)
        {
            <dt>
                Image
            </dt>
            <dd>
                <img src="~/File?id=@Model.Id" alt="avatar" class="largeImage"/>
            </dd>
        }*@
    </dl>
</div>
<div class="pfButton mediumButton">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>
<div class="pfButton mediumButton inverted">
    @Html.ActionLink("Back to List", "Index")
</div>
@if (Model.Bytes.Length>0)
        {
<div>
    <img src="~/File/GetLargeImage?id=@Model.Id" alt="avatar" class="largeImage" />
</div>
}
