@model PhotoFrame.Web.ViewModel.PhotoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("EditPhotoViewModel", "Photo", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal editPhotoFieldsDiv">
        <h4>Photo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @*<div class="form-group">
            @Html.LabelFor(model => model.FileName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileName)
                @Html.ValidationMessageFor(model => model.FileName)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FriendlyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FriendlyName)
                @Html.ValidationMessageFor(model => model.FriendlyName)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UploadDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UploadDate)
                @Html.ValidationMessageFor(model => model.UploadDate)
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Upload", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Upload" name="upload" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.PersonalDays)
                @*@Html.DropDownListFor(m => m.SelectedValue,*@
                    @*new MultiSelectList(Model.AllPersonalDays, "Id", "Name"), "-Please select a personal day-")*@
                @Html.ListBox("PersonalDaysIds", (MultiSelectList)ViewBag.AllPersonalDays, new { multiple = "multiple", size = "12" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Holidays)
                @*@Html.DropDownListFor(m => m.SelectedValue,*@
                @*new MultiSelectList(Model.AllPersonalDays, "Id", "Name"), "-Please select a personal day-")*@
                @Html.ListBox("HolidaysIds", (MultiSelectList)ViewBag.AllHolidays, new { multiple = "multiple", size = "12" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="pfButton mediumButton" />
            </div>
        </div>
        
    </div>
    if (Model!=null)
    {
        <div class="form-group editPhotoImageDiv">
            <div class="col-md-10">
                <img src="~/File/GetLargeImage?id=@Model.Id" alt="avatar" class="largeImage" />
            </div>
        </div>
    }
}
<div class="pfButton largeButton inverted">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
